@tailwind base;
@tailwind components;
@tailwind utilities;

/*weather grid*/

.weather-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container{
    background-image: url('./assets/bluesky.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}


.animationtitile{
    
}